.control-inputs {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 4rem;
}

.control-inputs form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 4rem;
}

.control-inputs input {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  outline: none;
}

.control-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff8808;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrong-row {
  font-size: 2rem;
}
